{% extends "layouts/base.html" %} {% block title %} Extracted Images {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link
  rel="stylesheet"
  href="/static/assets/plugins/chart-morris/css/morris.css"
/>

{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Extracted Images</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Output Image</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Extracted Images</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main-body">
      <div class="page-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Below is result of the extracted images.</h5>
              </div>
              <p>
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      <ul>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  {% endwith %}
              </p>
              {% if upload_path %}
              <div class="container">
                <div class="row justify-content-center">
                  <div class="card" style="width: 20rem;">
                      <div class="card-header">
                          <h5>Image {{basename_up}}</h5>
                      </div>
                      <div class="card-block">
                        <img class="card-img-top" src="{{ upload_path }}" width="400"/>
                      </div>
                  </div>
                  {% else %}
                  <br>
                  <div class="row justify-content-center">
                    <h4>Please select uploaded image at first</h4>
                  </div>
                  <br>
                </div>
              </div>
              {% endif %}
              {% if extract_paths %}
              <hr>
              <div class="container">
                <div class="row">
                  {% for extract in extract_paths %}
                  <div class="col-sm-3">
                      <div class="card-columns-fluid">
                        <div class="card-body" style="width: 15rem;">
                          <img class="card-img-top" src="{{ extract }}"/>
                        </div>
                      </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
<script src="/static/assets/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}
