{% extends "layouts/base.html" %} {% block title %} Backbone Of Project {%
endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style type="text/css">
 .tab { margin-left: 40px; }
 .tab-two {margin-left: 16px;
            margin-right: -150px;}
 .card-header {margin-bottom: -30px;}
 .card-footer {margin-bottom: -30px;
              margin-top: -15px;}
 .medical { margin-right: 80px }
</style>
{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <a id="mobile-collapse1" href="javascript:"><span><i class="feather icon-home"></i> Menu </span></a>
            <p></p>
            <div class="page-header-title">
              <h5 class="m-b-10">Lymphoblast Counter</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/"><i class="feather icon-airplay"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Lymphoblast Counter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              
              <div class="card-header">
                <h4>What is Lymphoblast Counter ?</h4>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <p><h5><b>Lymbhoblast Counter for Assisting Hematologist Initial Screening on Diagnosing Leukemia.</b></h5></p>
                  <p class="text-dark">Hematologists use manual microscopic examination for initial screening because it is the most economical way (for now) with potential human-errors of 30-40% and subjective reports [8,10].</p>
                </div>
                <div class="row">
                  <div class="col-md-8 tab-two">
                    <p class="text-dark">There are numbers of consequences that possible to appears including: 
                      <li class="tab text-dark">Human-error increasing with time due to fatigue [10].</li>
                      <li class="tab text-dark">Manual examination would be bias and subjective reports [8].</li></p>
                    <p class="text-dark">These consequences above deduce to the following questions: 
                      <li class="tab text-dark">Would machine learning approach improve hematologists initial screening ?</li>
                      <li class="tab text-dark">Which approach be the most economical way ?</li></p>
                  </div>
                  <div class="col-md-5">
                    <div class="row tab">
                      <div class="col-md-5">
                        <img src="/static/assets/images/img_1.JPG" width="180px" height="160px" />
                        <p><b>Before Computed</b></p>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-5">
                        <img src="/static/assets/images/img_2.JPG" width="180px" height="160px" />
                        <p><b>After Computed</b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="col-sm-12">
                  <p>[8] Dipti Patra, & Subrajeet Mohapatra. (2010). Automated Cell Nucleus Segmentation and Acute Leukemia Detection in Blood Microscopic Images. IEEE.<br>[10] Ilham Zulfikri Firdaus. (2019). Klasifikasi Citra Sel Darah Putih pada Pasien Terjangkit
                  Acute Lymphoblastic Leukemia Tipe L1 Menggunakan Metode Capsule Network.
                  Universitas Gadjah Mada.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4>Project Objective</h4>
              </div>
              <div class="card-body">
                <p><h5><b>Incorporate machine learning to be able to help hematologist for initial screening on diagnosing leukimia.</b></h5></p>
                <p class="text-dark">The machine learning model that 
                  we proposed is able to facilitate doctors, hematologists, or other medical officers,
                  in order to classifying blast and nonblast cell correctly. 
                  We use pre-trained SSD ResNet50 V1 FPN 640x640 (RetinaNet50) model and ALL-IDB public 
                  limited dataset as our training data.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
