{% extends "layouts/base.html" %} {% block title %} Uploaded Images {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} 
{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Uploaded Images</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Input Image</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Uploaded Images</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Uploaded Images</h5>
              </div>
              <div class="card-body">
                <h6>Below is list of image you have already uploaded. Select image to process.</h6>
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>
                <hr />
                {% if recent_path %} 
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="card" style="width: 30rem;">
                      <img class="card-img-top" src="{{ recent_path }}" width="50"/>
                      <b align="center">Image {{truncated_filename}}</b>
                      <br>
                      <div class="container-fluid">
                        <div class="row justify-content-center">
                          <form action="/result-one.html" align="center" method="POST">
                            <input type="hidden" name="recent_path" value="{{recent_path}}">
                            <input type="submit" value="Process Directly" name="process_direct" class="btn btn-primary btn-sm">
                          </form>
                          <form action="/select.html">
                              <input type="submit" class="btn btn-secondary btn-sm" value="Select Image Again" />
                          </form>
                          <form action="/preprocess" align="center" method="POST">
                            <input type="hidden" name="recent_path" value="{{recent_path}}">
                            <input type="submit" value="Close" name="close" class="btn btn-warning btn-sm">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="container">
                  <div class="row">
                    {% for upload in list_upload %}
                    <div class="col-sm-4">
                      <div class="card-columns-fluid">
                        <div class="card" style="width: 20rem;">
                          <img class="card-img-top" src="{{ upload[1] }}" width="400"/>
                          <b align="center">Image {{ upload[0] }}</b>
                          <br>
                          <div class="container-fluid">
                            <div class="row justify-content-center">
                              <form action="/result-one.html" method="POST">
                                <input type="hidden" name="upload_path" value="{{ upload[1] }}">
                                <input type="submit" value="Process" name="process" class="btn btn-primary btn-sm">
                              </form>
                              <form action="/preprocess" method="POST">
                                <input type="hidden" name="upload_path" value="{{ upload[1] }}">
                                <input type="submit" value="Delete" name="delete" class="btn btn-danger btn-sm">
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>    
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{% endblock javascripts %}
