{% extends "layouts/base.html" %} {% block title %} Upload Image {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Upload Image</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/"><i class="feather icon-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Input Image</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:">Upload Image</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Upload Image</h5>
              </div>
              <div class="card-body">
                <h5>Below is list of image you have already uploaded. Select image to process.</h5>
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>
                <hr />
                  {% if recent_path %} 
                    <div class="card" align="center" style="width: 20rem;">
                        <img class="card-img-top" src="{{ recent_path }}" width="400"/>
                        <form action="/preprocess" align="center" method="POST">
                          <dl>
                              <p>Image {{recent_path}}</p>
                              <p>
                                  <input type="hidden" name="recent_path" value="{{recent_path}}">
                              </p>
                              <p>
                                  <input type="submit" value="Process Directly" name="process_direct" class="btn btn-primary">
                                  <input type="submit" value="Close" name="close" class="btn btn-secondary">
                              </p>
                          </dl>
                        </form>
                      </div>
                  {% endif %}
                  <div class="container">
                    <div class="row">
                      {% for upload in list_upload %}
                      <div class="col-sm-4">
                        <div class="card-columns-fluid">
                          <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="{{ upload }}" width="400"/>
                            <form action="/preprocess" align="center" method="POST">
                              <dl>
                                  <p>Image {{upload}}</p>
                                  <p>
                                      <input type="hidden" name="upload_path" value="{{upload}}">
                                  </p>
                                  <p>
                                      <input type="submit" value="Process" name="process" class="btn btn-primary">
                                      <input type="submit" value="Delete" name="delete" class="btn btn-danger">
                                  </p>
                              </dl>
                            </form>
                          </div>
                        </div>    
                      </div>
                      {% endfor %}
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{% endblock javascripts %}
